<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Images | Bsc. Agri 2 year</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts_img_gallery/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css_img_gallery/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css_img_gallery/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css_img_gallery/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css_img_gallery/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css_img_gallery/owl.theme.default.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css_img_gallery/bootstrap-datepicker.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='fonts_img_gallery/flaticon/font/flaticon.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css_img_gallery/aos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css_img_gallery/fancybox.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css_img_gallery/style.css')}}">

  </head>
  <body>


  <div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
    <div class="site-logo">
      <a href="{{url_for('fourth_2')}}">Student-R-Us!!</a>
    </div>

    <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

    <div class="main-menu">
      <ul class="js-clone-nav">
        <li><a href="{{url_for('fifth')}}">Home</a></li>
        <li><a href="{{url_for('sixth')}}">Bachelor of Technology</a></li>
        <li><a href="{{url_for('seventh')}}">Diploma</a></li>
        <li class="active"><a href="{{url_for('eighth')}}">B.sc Agriculture</a></li>
        <li><a href="{{url_for('nineth')}}">Bachelor of Business Administration</a></li>
        <li><a href="{{url_for('tenth')}}">Bachelor of Pharmacy</a></li>
        <li><a href="{{url_for('eleventh')}}">Masters in Technology</a></li>
        <li><a href="{{url_for('twelveth')}}">Masters of Business Administration</a></li>
        <li><a href="{{url_for('thirteenth')}}">Events and Functions</a></li>
      </ul>
      <ul class="social js-clone-nav">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="#"><span class="icon-instagram"></span></a></li>
      </ul>
    </div>
  </header>

  <main class="main-content">
    <div class="container-fluid photos">

      <div class="row pt-4 mb-5 text-center">
        <div class="col-12">
          <h2 class="text-white mb-4">'Second Year' &mdash; B.SC Agriculture</h2>
        </div>
      </div>

      <div class="row align-items-stretch">

        {% for f in filename %}
            <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
              <a href="{{url_for('static',filename='uploads/')}}{{ f }}" class="d-block photo-item" data-fancybox="gallery">
                <img src="{{url_for('static',filename='uploads/')}}{{ f }}" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <span class="icon icon-search"></span>
                </div>
              </a>
            </div>
        {% endfor %}


      </div>


      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
        </div>
      </div>
    </div>
  </main>

</div> <!-- .site-wrap -->

<script src="{{url_for('static',filename='js_img_gallery/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/jquery-migrate-3.0.1.min.js')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/jquery-ui.jss')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/popper.min.js')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/jquery.stellar.min.js')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/jquery.countdown.min.js')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/jquery.magnific-popup.min.js')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static',filename='js_img_gallery/aos.js')}}"></script>

<script src="{{url_for('static',filename='js_img_gallery/jquery.fancybox.min.js')}}"></script>

<script src="{{url_for('static',filename='js_img_gallery/main.js')}}"></script>

  </body>
</html>
