<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{url_for('static',filename='css_landing_page/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css_landing_page/style.css')}}">
  <title>{{name}}</title>
</head>

<body>
  <nav class="navbar navbar-expand-md  fixed-top maine-menu">
    <div class="container">
      <button class="navbar-toggler ml-auto" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"> <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span> </button>
      <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active"> <a class="nav-link" href="#">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#about" tabindex="-1" aria-disabled="true">About</a></li>
          <li class="nav-item"> <a class="nav-link" href="{{url_for('fifth')}}" tabindex="-1" aria-disabled="true">Images</a></li>
          <li class="nav-item"> <a class="nav-link" href="{{url_for('fourty_seven')}}" tabindex="-1" aria-disabled="true">Videos</a></li>
          <li class="nav-item"> <a class="nav-link" href="#testimonial" tabindex="-1" aria-disabled="true">Notifications</a></li>
          <li class="nav-item"> <a class="nav-link" href="{{url_for('logout')}}" tabindex="-1" aria-disabled="true">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid fh5co-home-banner">
    <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/banner-img.jpg')}}" alt="">
      <div class="card-img-overlay">
        <div class="center-text">
          <h2 class="card-title">A camera is the save button
          for the mind’s eye</h2>
          <a href="{{url_for('fourty_nine')}}" class="btn">
            <svg width="201" height="51" viewBox="0 0 201 51">
              <defs>
                <style>
                .cls-1 {
                  fill: none;
                  stroke-width: 1px;
                  stroke: url(#linear-gradient);
                }
              </style>
              <linearGradient id="linear-gradient" x1="140.508" y1="50.5" x2="60.492" y2="0.5" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#e90e65"/>
                <stop offset="1" stop-color="#fff"/>
              </linearGradient>
            </defs>
            <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" x="0.5" y="0.5" width="200" height="50" rx="25" ry="25"/>
          </svg>
        Uplaod</a> </div>
      </div>
    </div>
  </div>
  <div class="container-fluid fh5co-two-img">
    <div class="row">
      <div class="col-sm-6 pr-0 pl-0">
        <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/girl1.jpg')}}" alt="">
          <div class="card-img-overlay"> </div>
        </div>
      </div>
      <div class="col-sm-6 pr-0 pl-0">
        <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/girl2.jpg')}}" alt="">
          <div class="card-img-overlay"> </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid fh5co-recent-work" style="background: #e90e65;">
    <div class="container contact-pop">
      <div class="row">
        <div class="col-md-6  pr-0">
          <div class="card"> <img class="card-img w-100" src="{{url_for('static',filename='img_landing_page/girl3.jpg')}}" alt="">
            <div class="card-img-overlay"> </div>
          </div>
        </div>
        <div class="col-md-6 pl-0" id="about">
          <div class="content">
            <h3>I am Saurav Sikdar</h3>
            <h4>B.Tech(Computer Science) - III Year</h4>
            <hr />
            <p>I am Student Of Your College and developed this webapp to help you  <br><strong>SHARE & ENJOY YOUR MOMENTS WITH EVERYONE!!</strong> </p>
          </div>
        </div>
      </div>
      <div class="container recent" id="activity">
        <div class="row">
          <h2>IMAGES</h2>
          <div class="owl-carousel owl-carousel2 owl-theme">
            <div>
              <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/recent-img1.jpg')}}" alt="">
                <div class="card-img-overlay"> <a href="#"><img src="{{url_for('static',filename='img_landing_page/heart.png')}}" class="heart" alt="heart icon"></a>
                  <div class="bottom-text">
                    <h5 class="card-title">Model photography</h5>
                    <p class="card-text">Digital, Photography</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/recent-img2.jpg')}}" alt="">
                <div class="card-img-overlay"> <a href="#"><img src="{{url_for('static',filename='img_landing_page/heart.png')}}" class="heart" alt="heart icon"></a>
                  <div class="bottom-text">
                    <h5 class="card-title">Product photography</h5>
                    <p class="card-text">Digital, Photography</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/recent-img3.jpg')}}" alt="">
                <div class="card-img-overlay"> <a href="#"><img src="{{url_for('static',filename='img_landing_page/heart.png')}}" class="heart" alt="heart icon"></a>
                  <div class="bottom-text">
                    <h5 class="card-title">Tour and potrait</h5>
                    <p class="card-text">Digital, Photography</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/recent-img4.jpg')}}" alt="">
                <div class="card-img-overlay"> <a href="#"><img src="{{url_for('static',filename='img_landing_page/heart.png')}}" class="heart" alt="heart icon"></a>
                  <div class="bottom-text">
                    <h5 class="card-title">Classical photography</h5>
                    <p class="card-text">Digital, Photography</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid fh5co-recent-work activity">
    <div class="container recent">
      <div class="row">
        <h2>VIDEOS</h2>
        <div class="owl-carousel owl-carousel3 owl-theme">
          <div>
            <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/activity-img1.png')}}" alt="">
              <div class="card-img-overlay">
                <div class="bottom-text">
                  <h5 class="card-title">Sed ut perspiciatis unde &nbsp; iste natus error sit volup</h5>
                  <a href="#">Read more <img src="{{url_for('static',filename='img_landing_page/double-right.svg')}}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/activity-img2.png')}}"  alt="">
              <div class="card-img-overlay">
                <div class="bottom-text">
                  <h5 class="card-title">Sed ut perspiciatis unde &nbsp; iste natus error sit volup</h5>
                  <a href="#">Read more <img src="{{url_for('static',filename='img_landing_page/double-right.svg')}}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card"> <img class="card-img" src="{{url_for('static',filename='img_landing_page/activity-img3.png')}}" alt="">
              <div class="card-img-overlay">
                <div class="bottom-text">
                  <h5 class="card-title">Sed ut perspiciatis unde &nbsp; iste natus error sit volup</h5>
                  <a href="#">Read more <img src="{{url_for('static',filename='img_landing_page/double-right.svg')}}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid fh5co-recent-work" style="background: #d6d4d0;"> <!--fh5co-recent-work-->

  <div class="container recent" id="activity" style="margin-top: 50px;">
    <div class="row">
      <h1 style="color: Black;">EVENTS & NOTIFICATIONS</h1>
      <div class="owl-carousel owl-carousel2 owl-theme">
        <div>
          <div class="card" style="width: 18rem;background: White;">
            <div class="card-body" style="border: Black 2px;">
              <h5 class="card-title" style="color: Black;">Message title</h5>
              <h6 class="card-subtitle mb-2 text-muted">-branch,year</h6>
              <p class="card-text">Write Your Message or Notifications in the space provided Here!!</p>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem;background: White;">
            <div class="card-body" style="border: Black 2px;">
              <h5 class="card-title" style="color: Black;">Message title</h5>
              <h6 class="card-subtitle mb-2 text-muted">-branch,year</h6>
              <p class="card-text">Write Your Message or Notifications in the space provided Here!!</p>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem;background: White;">
            <div class="card-body" style="border: Black 2px;">
              <h5 class="card-title" style="color: Black;">Message title</h5>
              <h6 class="card-subtitle mb-2 text-muted">-branch,year</h6>
              <p class="card-text">Write Your Message or Notifications in the space provided Here!!</p>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width: 18rem;background: White;">
            <div class="card-body" style="border: Black 2px;">
              <h5 class="card-title" style="color: Black;">Message title</h5>
              <h6 class="card-subtitle mb-2 text-muted">-branch,year</h6>
              <p class="card-text">Write Your Message or Notifications in the space provided Here!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

  <footer class="container-fluid p-0 pr-0">
    <!--<div class="row mr-0 ml-0">
      <div class="col-md-6 pr-0 pl-0 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13035.46901327725!2d-80.85396551628644!3d35.234674411422155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a03af474f38f%3A0xf8301daadf5f7670!2sFourth+Ward%2C+Charlotte%2C+NC%2C+USA!5e0!3m2!1sen!2sin!4v1551001218548"  style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 content-us">
        <div class="contact-form" id="contact">
          <h3 class="text-uppercase">Contact me</h3>
          <input type="text" class="form-control" placeholder="Your Name">
          <input type="text" class="form-control" placeholder="Your Email">
          <textarea class="form-control" placeholder="Your Message"></textarea>
          <button type="submit">Send</button>
        </div>
      </div>
    </div>-->
    <div class="copy pt-4 pb-4">
      <p><a href="https://freehtml5.co/" target="_blank"> &copy; 2019</a>  &nbsp; | &nbsp;  All rights reserved</p>
    </div>
  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{url_for('static',filename='js_landing_page/jquery-3.3.1.slim.min.js')}}"></script>
  <script src="{{url_for('static',filename='js_landing_page/popper.min.js')}}" ></script>
  <script src="{{url_for('static',filename='js_landing_page/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js_landing_page/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='js_landing_page/main.js')}}"></script>

</body>
</html>
